*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin-top: 5rem;
}
#container{
    background-color: rgb(252, 213, 165);
    width: 80vw;
    margin: auto;
    margin-top: 4rem;
    height: 15rem;
    border: 2px solid rgb(57, 57, 57);
    border-radius: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-div label{
    font-weight: 900;
    font-size: 22px;
}
#inputs{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    width: 15rem;
    
}

#convert-icon{
    margin-top: 2.6rem;
}

#info{
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
}

#steps{
    margin: 1rem 0rem;
}

#steps p{
    margin: 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 500;
}

#steps h4{
    color: rgb(35, 38, 186);
}

#simple{
    color: rgb(39, 83, 39);
    font-size: 1.12rem;
}

@media  screen and (max-width:600px) {
    h1{
        text-align: center;
        font-size: 1.4rem;
        margin-top: 2rem;
    }
    #container{
        height: 25rem;
        margin-top: 2rem;
    }
    #inputs{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .input-div label{
        font-weight: 900;
        font-size: 1.4rem;
    }
    #convert-icon{
        margin-top: 1rem;
        margin:auto;

    }

    
}

@media  screen and (min-width:601px) and (max-width:1000px) {
    #container{
        height: 28rem;
        margin-top: 1.5rem;
    }
    #inputs{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    #convert-icon{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }
    .input-div label{
        font-size: 1.6rem;
    }
    .inp{
        padding: 8px 16px;
        font-size: 1.2rem;
        width: 20rem;
        
    }
 
}

